@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "Poppins", system-ui, sans-serif;
    }
    
    body {
        scrollbar-width: thin;
        scrollbar-color: theme('backgroundColor.green.500');
    }
    
    .dark body {
        scrollbar-color: theme('backgroundColor.green.400');
    }
    
    ::-webkit-color-swatch-wrapper {
        padding: 0;
    }
    
    
    ::-webkit-scrollbar {
        @apply w-2 h-2;
    }
    
    ::-webkit-scrollbar-thumb {
        @apply bg-portage-500 dark:bg-portage-400;
    }
    
    textarea::-webkit-scrollbar-thumb {
        @apply rounded-md;
    }
}